<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/repocentric-media-and-communication/assets/css/style.css" />
    {% seo %}
  </head>
  <body>
    <header>
      <nav>
        <h1><a href="/repocentric-media-and-communication/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
      </nav>
    </header>

    <main>{{ content }}</main>

    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }}. All rights reserved.</p>
    </footer>
  </body>
</html>
